.navbar {
  background-color: #383c9f;
}
li {
  list-style-type: none;
  font-size: large;
}

.nav-item :hover {
  animation: aHover 300ms linear both;
}
@keyframes aHover {
  0% {
    border-radius: 0;
  }
  50% {
    border-radius: 2.5px;
  }
  100% {
    background-color: #40bcd8;
    border-radius: 5px;
  }
}
a {
  font-size: inherit;
}
#content {
  height: 100%;
  width: 100%;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.col-con {
  display: flex;
  flex-direction: column;
}
.row-con {
  display: flex;
  flex-direction: row;
}
.rounded-con {
  background-color: white;
  width: max-content;
  height: max-content;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.con-100 {
  flex: 1;
}
th,
td {
  /* text-align: center; */
}
/*btn_signout style*/
#btn_signout {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
/*end of btn_signout style*/
