body{
    margin: 0;
    padding: 0;
}
.form-control-lg{
    margin: auto;
    
    width: 500px;
    height: 300px;
    top: 300px;
}

.bt_login{
    width: 100%;
    height: 40px;
    margin-top: 30px;
}
.btn{
    width: 100%;
    height: 100%;
}
