.frame{
    position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}

.nav-left{
    /* Rectangle 6 */


position: absolute;
width: 275px;
height: 1024px;
left: -1px;
top: 0px;

background: #383C9F;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}

.list{
    /* Rectangle 35 */


position: absolute;
width: 1074px;
height: 448px;
left: 332px;
top: 544px;

background: #C4C4C4;
border-radius: 5px;
}

#month{
    /* Month */


position: absolute;
width: 162px;
height: 25px;
left: 582px;
top: 225px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}
#currentYear{
    /* Current Year */


position: absolute;
width: 180px;
height: 25px;
left: 582px;
top: 280px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
#seEmp{
    /* Select Employee */


position: absolute;
width: 180px;
height: 25px;
left: 582px;
top: 330px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.inputMonth{
    /* Rectangle 32 */


position: absolute;
width: 257px;
height: 36px;
left: 797px;
top: 238px;

background: #C4C4C4;
}
.inputCurrentYear{
/* Rectangle 33 */


position: absolute;
width: 257px;
height: 36px;
left: 797px;
top: 291px;

background: #C4C4C4;
}

.selectEmp{
    /* Rectangle 36 */


position: absolute;
width: 257px;
height: 36px;
left: 797px;
top: 344px;

background: #C4C4C4;

}

#btnSearch{
   /* Rectangle 34 */


position: absolute;
width: 127px;
height: 36px;
left: 797px;

top: 421px;
color: white;
background: #1400FF;
border-radius: 5px;

}
.home{
    /* Home */
position: absolute;
width: 85px;
height: 31px;
left: 45px;
top: 231px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;


}
.addClass{
    /* Add Class */


position: absolute;
width: 143px;
height: 31px;
left: 45px;
top: 310px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.addEmp{
    /* Add Employee */


position: absolute;
width: 181px;
height: 24px;
left: 45px;
top: 390px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.EmpReport{
    /* Employee Report */


position: absolute;
width: 184px;
height: 24px;
left: 45px;
top: 463px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.salary{
    /* Salary */


position: absolute;
width: 143px;
height: 31px;
left: 45px;
top: 534px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.salaryReport{
    /* Salary Report */


position: absolute;
font-size: 24px;
width: 184px;
height: 35px;
left: 45px;
top: 612px;



color: #FFFFFF;
}
.logout{
   /* Rectangle 16 */


position: absolute;
width: 224px;
height: 59px;
left: 24px;
top: 929px;


background: #6F1419;
border-radius: 10px;
color: white;
}
.salaryReceipt{
/* Rectangle 37 */


position: absolute;
width: 252px;
height: 36px;
left: 780px;
top: 380px;
color: white;
background: #1400FF;
border-radius: 5px;
}
.empDet{
  /* Employee Detail: */


position: absolute;
width: 208px;
height: 31px;
left: 332px;
top: 500px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}